@charset "UTF-8";

/*字体大小*/

$size36:0.36rem;
$size32:0.32rem;
$size30:0.3rem;
$size28:0.28rem;
$size26:0.26rem;
$size24:0.24rem;
$size22:0.22rem;

/*字体颜色*/

/*主色*/
$colorMain:#6eb042;

/*正文颜色*/
$colorText:#001e00;

/*辅色 不可点击*/
$colorSub1:#c3dcb3;

/*副标题颜色*/
$colorSubtitle:#999;

/*辅色  点击 选中*/
$colorSub2:#1f6117;

/*提示文字颜色*/
$colorPrompt:#ccc;

/*提示 添加 选中*/
$colorPromptBtn:#ff5918;

/*区隔线颜色*/
$colorAcross:#e5e5e5;

/*辅色  不可点击*/
$colorSub3:#f2b198;

/*底色*/
$colorBg:#f4f4f4;

/*间距*/

$spacingLR:.24rem;

/*左右间距*/

$spacingRow:.22rem;

/*栏间距*/
